.container{
    min-height: 100vh;
}

.menu{
    z-index: 5;
}

.menu a{
    text-decoration: none;
    font-size: 1.7em;
    color: darkgrey;
    text-align: center;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    border-right: 4px solid white;
    border-left: 4px solid white;
}

.menu a i{
    display: block;
    font-size: 1em;
    opacity: 0.5;
    color: tomato;
}

.menu a:hover{
    color: #666666;
    border-right-color: tomato;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.menu-mobile-row{
    display: none;
}

.menu-mobile-header{
    position: fixed;
    z-index: 50;
    background-color: white;
    height: 40px;
}

.menu-mobile-header img{
    width: 40px;
}

.menu-mobile-header button{
    float: right;
    color: tomato;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    background-color: white;
}

.menu-mobile{
    display: none;
    /*position: absolute;*/
    position: fixed;
    z-index: 100;
    top: 40px;
    background-color: #F6F6F6;
}

.menu-mobile a{
    display: block;
    border-left: 4px solid #F6F6F6;
    color: #888888;
    margin: 5px 0;
    padding-left: 30px;
}

#mobile-menu-active{
    border-left: 4px solid tomato;
    color: black;
}

#icon{
    color: tomato;
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: 10px;
}

#icon:hover{
    border-color: white !important;
}

#icon img{
    width: 75%;
    padding-left: 25%;
    display: block;
    margin-bottom: 5px;
}

#menu-active{
    border-right: 4px solid tomato;
    color: black;
}

#menu-active i{
    color: tomato;
    opacity: 1;
}

.content{
    background-image: url("../images/bg.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.content-card{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 10%;
    height: 80%;
    overflow-y: scroll;
    border-radius: 5px;
}

.card-title{
    text-align: center;
}

.card-title h1{
    color: lightgrey;
    margin-bottom: 0;
    font-size: 3.8em;
}

.card-title h5{
    background-color: tomato;
    display: inline-block;
    color: white;
    font-weight: normal;
    padding: 2px 4px;
    margin-left: 4em;
    margin-top: 0;

}

.card-top-border{
    position: absolute;
    border-left: 4px solid tomato;
    border-top: 4px solid tomato;
    height: 110px;
    width: 100px;
}

.card-btm-border{
    position: absolute;
    border-bottom: 4px solid tomato;
    border-right: 4px solid tomato;
    height: 20px;
    width: 140px;
    right: 20px;
}

#content-content{
    margin-top: 40px !important;
}

.card-top-arrow{
    position: absolute;
    height: 110px;
    width: 100px;
}

.card-top-arrow i{
    color: tomato;
}

/**********************************************/
/*****         css for home page          *****/
/**********************************************/
.content-home-title{
    display: block;
    padding-top: 25%;
    text-align: center;
}

.content-home-title h1{
    color: tomato;
    font-size: 4em;
}

.content-home-title h4{
    font-weight: normal;
    color: #666666;
}

/**********************************************/
/*****          css for bio page          *****/
/**********************************************/
#content-bio{
    padding: 20px;
    margin-bottom: 20px;
}

#bio-icon img{
   width: 100%;
}

#bio-personal-info div{
    margin: 0 0 10px 0;
}

#bio-personal-info span{
    font-weight: bold;
    border-bottom: 2px solid tomato;
    margin-right: 10px;
}

#bio-personal-info a{
    color: tomato;
}

.social-media{
    margin-top: 30px !important;
}

.social-media a{
    color: grey !important;
    margin-right: 5px;
}

.social-media a:hover{
    color: tomato !important;
}

/**********************************************/
/*****         css for resume page        *****/
/**********************************************/
#content-resume{
    padding: 20px;
    margin-bottom: 20px;
}

#resume-content-content{
    margin: 30px 15px 0 15px !important;
}

#resume-content-content h4{
    border-left: 2px solid tomato;
    padding: 0 5px;
}

.resume-edu-div{
    margin-bottom: 25px;
    padding-left: 7px;
}

.resume-edu-time{
    display: inline;
    color: white;
    background-color: tomato;
    padding: 2px 5px;
}

.resume-work-div{
    margin-bottom: 25px;
    padding-left: 7px;
}

.resume-work-div h5{
    margin-bottom: 0;
}

.resume-work-div p{
    color: #888888;
    margin-bottom: 5px;
}

.resume-work-time{
    display: inline;
    color: white !important;
    background-color: tomato;
    padding: 2px 5px;
}

#resume-skill-div div{
    margin-bottom: 10px;
    padding-left: 7px;
}

#resume-skill-div div span{
    font-weight: bold;
    margin-right: 10px;
}

#resume-design-skill-title{
    margin-top: 30px;
}

#cv-download-btn{
    margin: 20px 30px;
    background-color: tomato;
    border: none;
    color: white;
    padding: 8px 30px;
}

#cv-download-btn:hover{
    background-color: #ff8765;
    text-decoration: none;
}

/**********************************************/
/*****       css for portfolio page       *****/
/**********************************************/
#content-portfolio{
    padding: 20px;
    margin-bottom: 20px;
}

#project-content-content{
    margin: 30px 15px 0 15px !important;
}

#project-content-content img{
    width: 100%;
}

.project-div a{
    color: black;
}

.project-title-div{
    width: 90%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 15px;
    opacity: 0.8;
    padding: 10px;
    display: none;
}

.project-title-div h4{
    margin: 0;
}
/**********************************************/
/*****        css for contact page        *****/
/**********************************************/
#content-contact{
    padding: 20px;
    margin-bottom: 20px;
}

#contact-content-content{
    margin: 30px 15px 0 15px !important;
}

#contact-content-content h4{
    border-left: 2px solid tomato;
    padding: 0 5px;
}

#contact-content-content p{
    padding: 0 6px;
    margin: 20px 0;
}

#contact-content-info{
    padding: 0 6px;
}

#contact-content-info div{
    font-weight: bold;
    margin-bottom: 15px;
}

#contact-content-info div i{
    color: tomato;
    margin-right: 10px;
}

#contact-content-content input{
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 20px 0;
}

#contact-content-content textarea{
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-color: lightgrey;
}

#contact-content-content button{
    margin: 20px 0;
    background-color: tomato;
    border: none;
    color: white;
    padding: 5px 30px;
}

#contact-content-content button:hover{
    background-color: #ff8765;
}

/**********************************************/
/*****    css for project detail page     *****/
/**********************************************/
#content-project-detail{
    padding: 20px;
    margin-bottom: 20px;
}

#project-detail-content-content{
    margin: 30px 15px 0 15px !important;
}

#project-detail-content-content img{
    width: 100%;
}

#project-detail-content-content h4{
    border-left: 2px solid tomato;
    padding: 0 5px;
}

#project-detail-content-content p{
    padding: 0 6px;
    margin: 20px 0;
}


/**********************************************/
/*****       css for reference page       *****/
/**********************************************/
#content-reference{
    padding: 20px;
    margin-bottom: 20px;
}

#reference-content-content{
    margin: 30px 15px 0 15px !important;
}

#reference-content-content h4{
    border-left: 2px solid tomato;
    padding: 0 5px;
}

#reference-content-content a{
    padding: 0 6px;
    display: block;
}

/**********************************************/
/*****        css for swiper arrow        *****/
/**********************************************/


/**********************************************/
/*****     mobile responsive updating     *****/
/**********************************************/
@media  screen  and (max-width: 991px){
    .menu{
        display: none;
    }

    .menu-mobile-row{
        display: block;
    }

    .content{
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .content-home-title{
        padding-top: 40%;
    }
}

@media screen and (max-width: 414px) {
    .content{
        margin: 0;
    }
    .content-card{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 40px 0 0 0;
    }

    .content-home-title{
        padding-top: 50%;
    }
}