/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: "Helvetica Neue", sans-serif;
  padding: 4rem 2rem 2rem 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  line-height: 30px;
}

section .sample-code{
  margin-bottom: 0.5em;
}

/*Nav for change three pages*/
#main-nav{
  position: fixed;
  display: flex;
  background: white;
  top: 0;
  left:0;
  width: 100%;
  border-bottom: 1px solid #444444;
  text-align: center;
}
#main-nav a{
  text-decoration: none;
  font-size: 1.5em;
  flex-grow: 1;
  color: black;
  padding: 0.5em 0 0.3em 0;
}

#main-nav a:hover{
  background-color: lightgrey;
  color: white;
}

#main-nav-active{
  border-bottom: 15px solid gray;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: black;
  background-color: white;
  border: 2px solid black;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: tomato;
  color: white;
  border-color: white;
}

.in-text-link{
  font-style: italic;
}

.button-submit{
  font-size: 1.3em;
  background-color: tomato;
  border: none;
  color: white;
  padding: 5px 30px;
}

.button-submit:hover{
  background-color: #ff6a1b;
  border-color: #ff6a1b;
}

.input-box{
  padding: 0.857em 1.214em;
  background-color: transparent;
  color: #818181;
  line-height: 1.286em;
  outline: none;
  -webkit-appearance: none;
  border-radius: 1.3em;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}

/* 
  TEXT ELEMENTS -------------------
*/

.header-lv1{
  font-size: 30px;
}

.header-lv2{
  font-size: 21px;
}

.header-lv3{
  font-size: 16px;
}

.text-p{
  font-size: 14px;
}

.ul-list{
  list-style-type: circle;
}

.ol-list {
  list-style-type: decimal;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.nav-main{
  width: 100%;
  border-bottom: 1px solid #444444;
  padding-bottom: 0.5em;
  margin-top: 20px;
}

.nav-main a{
  text-decoration: none;
  font-size: 1.5em;
  flex-grow: 1;
  color: black;
  padding: 0.5em;
  margin: 0 15px;
}

#nav-main-selected{
  color: tomato;
}


.nav-main a:hover{
  border-bottom: 5px solid tomato;
  padding-bottom: 5px;
}

/*Grid Structure*/
.row{
  width: 100%;
  margin: 10px 0;
}

.col-1{
  display: inline-block;
  position: relative;
  padding: 0 15px;
  width: 8.333333%;
  height: 50px;
  text-align: center;
  background-color: rgba(189, 167, 209, 0.5);
}

.col-2{
  display: inline-block;
  position: relative;
  padding: 0 15px;
  width: 16.666667%;
  height: 50px;
  text-align: center;
  background-color: rgba(189, 167, 209, 0.5);
}

.col-3{
  display: inline-block;
  position: relative;
  padding: 0 15px;
  width: 25%;
  height: 50px;
  text-align: center;
  background-color: rgba(189, 167, 209, 0.5);
}

.col-4{
  display: inline-block;
  position: relative;
  padding: 0 15px;
  width: 33.333333%;
  height: 50px;
  text-align: center;
  background-color: rgba(189, 167, 209, 0.5);
}

.col-6{
  display: inline-block;
  width: 50%;
  height: 50px;
  text-align: center;
  background-color: rgba(189, 167, 209, 0.5);
}

.col-12{
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: rgba(189, 167, 209, 0.5);
}
/*Color Selection*/
.p-color-lightgrey{
  background-color: lightgrey;
  height: 50px;
  width: 200px;
  display: inline-block;
}

.p-color-tomato{
  background-color: tomato;
  height: 50px;
  width: 200px;
  display: inline-block;
}

.p-color-grey{
  background-color: #999999;
  height: 50px;
  width: 200px;
  display: inline-block;
}